openapi: 3.2.0
info:
  title: HyperVerge Identity Verification Database Verification API
  description: HyperVerge is an AI-based identity verification and customer onboarding platform.
  version: '1.0'
  contact:
    name: HyperVerge
    url: https://hyperverge.co
  x-modeled-note: Paths, methods, hosts, and appId/appKey auth are confirmed from HyperVerge's public REST-API repositories. Response schemas are representative models, not verbatim contracts.
servers:
- url: https://ind-verify.hyperverge.co
  description: India - Database Verification, Input Validation, Matching
- url: https://ind-docs.hyperverge.co/v2.0
  description: India - KYC OCR / Extraction
- url: https://ind-faceid.hyperverge.co
  description: India - Face Match
security:
- appIdKey: []
tags:
- name: Database Verification
  description: Central/government database verification for Indian documents.
paths:
  /api:
    servers:
    - url: https://ind-verify.hyperverge.co
    get:
      operationId: verifyHealthCheck
      tags:
      - Database Verification
      summary: Connection health check
      description: Returns the plain-text string "Aok" to confirm connectivity.
      responses:
        '200':
          description: Plain-text "Aok".
          content:
            text/plain:
              schema:
                type: string
                example: Aok
  /api/verifyPAN:
    servers:
    - url: https://ind-verify.hyperverge.co
    post:
      operationId: verifyPAN
      tags:
      - Database Verification
      summary: Verify PAN against central database
      description: Verifies a PAN number against name and date of birth.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyPanInput'
      responses:
        '200':
          description: Verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/getNameFromPAN:
    servers:
    - url: https://ind-verify.hyperverge.co
    post:
      operationId: getNameFromPAN
      tags:
      - Database Verification
      summary: Get registered name from PAN
      description: Returns the registered holder name for a PAN number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pan
              properties:
                pan:
                  type: string
                  description: PAN in CCCCCDDDDC format.
                  example: ABCDE1234F
      responses:
        '200':
          description: Verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/checkDL:
    servers:
    - url: https://ind-verify.hyperverge.co
    post:
      operationId: checkDL
      tags:
      - Database Verification
      summary: Verify Driving License
      description: Verifies and extracts driving-license data by DL number and date of birth.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - dlNumber
              - dob
              properties:
                dlNumber:
                  type: string
                  description: Driving license number (9-20 characters).
                dob:
                  type: string
                  description: Date of birth in DD-MM-YYYY format.
                  example: 01-01-1990
      responses:
        '200':
          description: Verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/checkVoterId:
    servers:
    - url: https://ind-verify.hyperverge.co
    post:
      operationId: checkVoterId
      tags:
      - Database Verification
      summary: Verify Voter ID (EPIC)
      description: Extracts and verifies Voter ID information by EPIC number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - epicNumber
              properties:
                epicNumber:
                  type: string
                  description: Voter ID EPIC number (6-13 characters).
      responses:
        '200':
          description: Verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/checkBankAccount:
    servers:
    - url: https://ind-verify.hyperverge.co
    post:
      operationId: checkBankAccount
      tags:
      - Database Verification
      summary: Verify bank account
      description: Verifies bank account details by IFSC and account number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ifsc
              - accountNumber
              properties:
                ifsc:
                  type: string
                  description: IFSC code (11 characters).
                accountNumber:
                  type: string
                  description: Bank account number.
      responses:
        '200':
          description: Verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    VerifyPanInput:
      type: object
      required:
      - pan
      - name
      - dob
      properties:
        pan:
          type: string
          description: PAN in CCCCCDDDDC format.
          example: ABCDE1234F
        name:
          type: string
        dob:
          type: string
          description: Date of birth in DD/MM/YYYY format.
          example: 01/01/1990
    VerificationResult:
      type: object
      description: Representative database-verification response (modeled).
      properties:
        status:
          type: string
          example: success
        statusCode:
          type: string
          example: '200'
        result:
          type: object
          additionalProperties: true
    Error:
      type: object
      properties:
        status:
          type: string
          example: failure
        statusCode:
          type: string
          example: '401'
        error:
          type: string
          example: Invalid credentials.
  responses:
    Unauthorized:
      description: Invalid or missing appId/appKey credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    appIdKey:
      type: apiKey
      in: header
      name: appId
      description: 'HyperVerge issues an appId and appKey pair after enterprise onboarding. Both are sent as request headers: `appId` and `appKey` on the ind-docs and ind-verify hosts, and lowercase `appid` and `appkey` on the ind-faceid (Face Match) host. Do not expose these credentials in browser applications.'
